Net LED<7> LOC=T11  |  IOSTANDARD=LVCMOS33;
Net LED<6> LOC=R11  |  IOSTANDARD=LVCMOS33;
Net LED<5> LOC=N11  |  IOSTANDARD=LVCMOS33;
Net LED<4> LOC=M11  |  IOSTANDARD=LVCMOS33;
Net LED<3> LOC=V15  |  IOSTANDARD=LVCMOS33;
Net LED<2> LOC=U15  |  IOSTANDARD=LVCMOS33;
Net LED<1> LOC=V16  |  IOSTANDARD=LVCMOS33;
Net LED<0> LOC=U16  |  IOSTANDARD=LVCMOS33;

Net BTN<0> LOC=D9  |  IOSTANDARD=LVCMOS33;
Net BTN<1> LOC=C9  |  IOSTANDARD=LVCMOS33;
Net BTN<2> LOC=C4  |  IOSTANDARD=LVCMOS33;
Net BTN<3> LOC=A8  |  IOSTANDARD=LVCMOS33;
Net BTN<4> LOC=B8  |  IOSTANDARD=LVCMOS33;

Net SW<0> LOC=T10  |  IOSTANDARD=LVCMOS33;
Net SW<1> LOC=T9   |  IOSTANDARD=LVCMOS33;
Net SW<2> LOC=V9   |  IOSTANDARD=LVCMOS33;
Net SW<3> LOC=M8   |  IOSTANDARD=LVCMOS33;
Net SW<4> LOC=N8   |  IOSTANDARD=LVCMOS33;
Net SW<5> LOC=U8   |  IOSTANDARD=LVCMOS33;
Net SW<6> LOC=V8   |  IOSTANDARD=LVCMOS33;
Net SW<7> LOC=T5   |  IOSTANDARD=LVCMOS33;

Net SSEG_CA<0> LOC=T17  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<1> LOC=T18  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<2> LOC=U17  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<3> LOC=U18  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<4> LOC=M14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<5> LOC=N14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<6> LOC=L14  |  IOSTANDARD=LVCMOS33;
Net SSEG_CA<7> LOC=M13  |  IOSTANDARD=LVCMOS33;

Net SSEG_AN<0> LOC=P17  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<1> LOC=P18  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<2> LOC=N15  |  IOSTANDARD=LVCMOS33;
Net SSEG_AN<3> LOC=N16  |  IOSTANDARD=LVCMOS33;

Net UART_TXD LOC=N18  |  IOSTANDARD=LVCMOS33;
Net UART_RXD LOC=N17  |  IOSTANDARD=LVCMOS33;
Net CLK LOC=V10  |  IOSTANDARD=LVCMOS33;

Net RAM_ADDR<25> LOC=F15  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<24> LOC=F16  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<23> LOC=C17  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<22> LOC=C18  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<21> LOC=F14  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<20> LOC=G14  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<19> LOC=D17  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<18> LOC=D18  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<17> LOC=H12  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<16> LOC=G13  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<15> LOC=E16  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<14> LOC=E18  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<13> LOC=K12  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<12> LOC=K13  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<11> LOC=F17  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<10> LOC=F18  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<9> LOC=H13  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<8> LOC=H14  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<7> LOC=H15  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<6> LOC=H16  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<5> LOC=G16  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<4> LOC=G18  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<3> LOC=J16  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<2> LOC=J18  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<1> LOC=K17  |  IOSTANDARD=LVCMOS33;
Net RAM_ADDR<0> LOC=K18  |  IOSTANDARD=LVCMOS33;

Net RAM_DATA<15> LOC=T8  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<14> LOC=R8  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<13> LOC=U10  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<12> LOC=V13  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<11> LOC=U13  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<10> LOC=P12  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<9> LOC=P6  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<8> LOC=N5  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<7> LOC=R5  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<6> LOC=T3  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<5> LOC=R3  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<4> LOC=V5  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<3> LOC=U5  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<2> LOC=V14  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<1> LOC=T14  |  IOSTANDARD=LVCMOS33;
Net RAM_DATA<0> LOC=R13  |  IOSTANDARD=LVCMOS33;

Net RAM_CLK_out LOC=R10  |  IOSTANDARD=LVCMOS33;
Net RAM_nCE LOC=L15  |  IOSTANDARD=LVCMOS33;
Net RAM_nWE LOC=M16  |  IOSTANDARD=LVCMOS33;
Net RAM_nOE LOC=L18  |  IOSTANDARD=LVCMOS33;
Net RAM_nADV LOC=H18  |  IOSTANDARD=LVCMOS33;
Net RAM_CRE LOC=M18  |  IOSTANDARD=LVCMOS33;
Net RAM_nLB LOC=K16  |  IOSTANDARD=LVCMOS33;
Net RAM_nUB LOC=K15  |  IOSTANDARD=LVCMOS33;
Net RAM_Wait_in LOC=V4  |  IOSTANDARD=LVCMOS33; 


Net PHY_MDIO LOC=L6  |  IOSTANDARD=LVCMOS33;
Net PHY_MDC LOC=M5  |  IOSTANDARD=LVCMOS33;
Net PHY_nRESET LOC=P3  |  IOSTANDARD=LVCMOS33;
Net PHY_COL LOC=P4  |  IOSTANDARD=LVCMOS33;
Net PHY_CRS LOC=N3  |  IOSTANDARD=LVCMOS33;

Net PHY_TXD<0> LOC=U2  |  IOSTANDARD=LVCMOS33;
Net PHY_TXD<1> LOC=U1  |  IOSTANDARD=LVCMOS33;
Net PHY_TXD<2> LOC=T2  |  IOSTANDARD=LVCMOS33;
Net PHY_TXD<3> LOC=T1  |  IOSTANDARD=LVCMOS33;
Net PHY_nINT LOC=P2  |  IOSTANDARD=LVCMOS33;
Net PHY_TXEN LOC=L2  |  IOSTANDARD=LVCMOS33;
Net PHY_TXCLK LOC=L5  |  IOSTANDARD=LVCMOS33;

Net PHY_RXD<0> LOC=P1  |  IOSTANDARD=LVCMOS33;
Net PHY_RXD<1> LOC=N2  |  IOSTANDARD=LVCMOS33;
Net PHY_RXD<2> LOC=N1  |  IOSTANDARD=LVCMOS33;
Net PHY_RXD<3> LOC=M3  |  IOSTANDARD=LVCMOS33;
Net PHY_RXER LOC=M1  |  IOSTANDARD=LVCMOS33;
Net PHY_RXDV LOC=L1  |  IOSTANDARD=LVCMOS33;
Net PHY_RXCLK LOC=H4  |  IOSTANDARD=LVCMOS33;

